/* style.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #ffcccb;
    text-align: center;
    margin: 0;
    padding: 0;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    width: 300px;
    height: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
}

.page {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page img {
    width: 90%;
    border-radius: 10px;
}

.page p {
    font-size: 18px;
    margin-top: 10px;
}

.cover {
    display: flex;
    background: #ff99cc;
    color: white;
}

.final {
    display: flex;
    background: #ff6699;
    color: white;
}
